.navbar {
  align-items: center;
  padding: 2rem 15px 1rem 15px;
  border-bottom: 2px solid #c3c3c3;
}
.navbar__username {
  margin-right: 5px;
}
a {
  padding: 10px;
  font-size: 1.2rem;
}
.active-navbar {
  font-weight: bold;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}
