td,
tr {
  outline: none !important;
  border: none;
  background-color: transparent !important;
}
a {
  color: #333;
}

@media (max-width: 768px) {
  tr.d-flex {
    flex-direction: column;
    text-align: left !important;
    align-items: flex-start !important;
  }
}
